{% extends 'store/base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <title>Grooot Cart</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="">
                        {% csrf_token %}
                        <h2 class="form-title">Create account</h2>
                        <h6><strong>Username:</strong></h6>
                        <div class="form-group">
                            {{form.username}}
                            
                        </div>
                        <h6><strong>Email Id:</strong></h6>
                        <div class="form-group">
                            {{form.email}}
                        </div>
                        <h6><strong>Password:</strong></h6>
                        <div class="form-group">
                            {{form.password}}
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <h6><strong>Confirm Password:</strong></h6>
                        <div class="form-group">
                            {{form.password_confirm}}
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>

                    {% for field in form %}
                    {% if field.errors %}
                    <script>
                    alert("{{ field.errors|striptags }}");
                    </script>
                    {% endif %}
				    {% endfor %}          
                    <p class="loginhere">
                        Already have an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>

<!--form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Register"/>
</form-->
{% endblock content %}